#home{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#serieTypes{
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 30%);
    margin-top: 30px;
    cursor: pointer;
}
.serieType{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(179, 179, 179);
    height: 40px;
}
.serieType:first-child{
    margin-left: 10px;
}
.serieType:last-child{
    margin-right: 10px;
}

#serieOptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
#serieTime{
    width: calc(95% - 20px);
    margin-bottom: 20px;
}
#serieTime select{
    outline: none;
    padding: 5px;
    cursor: pointer;
}
#series{
    display: flex;
    width: 95%;
    overflow-x: auto;
}
.serie{
    min-width: 200px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}
.serie p:nth-child(1){
    position: absolute;
    padding: 3px 7px 1px 7px;
    background-color: black;
    color: white;
    right: 0;
}
.serie img{
    width: 100%;
    cursor: pointer;
    height: 300px;
}
.serie p:last-child{
    cursor: pointer;
}